---
layout: splash
title: "Members"
permalink: /members/
author_profile: false
excerpt: ""
header:
  show_overlay_excerpt: false
  overlay_image: /assets/img/bg.png
  overlay_filter: 0.0 # same as adding an opacity of 0.5 to a black background
---
<!-- Sort members by last name en -->
{% assign members = site.members | sort: "last_name_en" %}

<div class="member_cards_wrapper">
  {% for member in members %}
  <div class="member_card">
    {% if member.image %}
    <div class="member_image" style="background-image: url('{{ member.image | relative_url }}');"></div>
    {% else %}
    <div class="member_image" style="background-image: url({{ '/assets/img/members/default.svg' | relative_url }});"></div>
    {% endif %}
    
    {% if member.image %}
    {% endif %}
    <div class="member_info">
      <p class="member_name">
        {% if member.website %}
          <a href="{{ member.website }}">{{ member.first_name_en }} {{ member.last_name_en }} | {{member.last_name_ja}} {{ member.first_name_ja }}</a>
        {% else %}
          {{ member.first_name_en }} {{ member.last_name_en }} | {{member.last_name_ja}} {{ member.first_name_ja }}
          {% endif %}
      </p>
      <p class="member_positions">
        {{ member.positions | join: "<br>" }}
      </p>
      <p class="member_email">
        {{ member.email }}
      </p>
    </div>
  </div>
  {% endfor %}


</div>