---
layout: splash
title: "Talks"
permalink: /talks/
author_profile: false
excerpt: ""
header:
  show_overlay_excerpt: false
  overlay_color: "#404040"
---
{% if paginator %}
  {% assign posts = paginator.posts |  where: "category", "Talk" %}
{% else %}
  {% assign posts = site.posts |  where: "category", "Talk" %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}


