
<!-- https://www.anlp.jp/guide/guideline.html -->
{%- assign hideawards = include.hideawards | default: false -%}
{%- assign publication = include.publication -%}

{% for author in publication.authors %}
    {{ author }}
    {%- if forloop.last == false -%}
    ,
    {%- endif -%}
{% endfor %}.<br>
<strong>{{ publication.title }}</strong>.<br>



{%- if publication.paper -%}
    <i class="fa-regular fa-file"></i> 
    In <i>{{ publication.paper.proceedings }}</i>
    {%- if publication.paper.pages -%}
        <!-- if has "-" or "–", pages else page -->
        {%- if publication.paper.pages contains "-" or publication.paper.pages contains "–" -%}
            , pp.{{ publication.paper.pages }}
        {%- else -%}
            , page {{ publication.paper.pages }}
        {%- endif -%}
    {%- endif -%}
    {%- if publication.paper.year_month -%}
        , {{ publication.paper.year_month }}
    {%- endif -%}.<br>
{%- endif -%}


{% if publication.presentation %}
    <i class="fa-solid fa-person-chalkboard"></i>
    {{ publication.presentation.type }},
    {% if publication.presentation.conference.url %}
    <a href="{{ publication.presentation.conference.url }}" target="_blank">{{ publication.presentation.conference.name }}</a> {%- if publication.presentation.conference.abbreviation %} ({{ publication.presentation.conference.abbreviation }}){% endif %}.
    {% else %}
    {{ publication.presentation.conference.name }} {%- if publication.presentation.conference.abbreviation %} ({{ publication.presentation.conference.abbreviation }}){% endif %}.
    {% endif %}
    {{ publication.presentation.venue }},
    {{ publication.presentation.year_month }}.<br>
{% endif %}


{%- if publication.awards -%}
    {%- for award in publication.awards -%}
        <i class="fa-solid fa-award"></i>
        {{ award.name }} {% if award.rank %}({{ award.rank }}){%- endif %}.
    {% endfor %}<br>
{% endif %}

{% if publication.links %}
    {%- for link in publication.links -%}
    <a class="link-btn" href="{{ link.url }}" target="_blank">{{ link.name}}</a>
    {%- endfor -%}
{% endif %}