
{% for author in publication.authors %}
    {%- if forloop.last == true -%}
    & 
    {% endif %}
    {{ author}}
    {%- if forloop.last == false -%}
    ,
    {% endif %}
{% endfor %}<br>
<strong>{{ publication.title }}</strong>.<br>
{{ publication.conference}} {%- if publication.conference_abbreviation %} ({{ publication.conference_abbreviation }}){% endif %}.<br>
{%- if publication.paper -%}
    <i class="fa-regular fa-file"></i> 
    {{ publication.paper.proceedings }}
    {%- if publication.paper.pages -%}
        <!-- if has "-" or "–", pages else page -->
        {%- if publication.paper.pages contains "-" or publication.paper.pages contains "–" -%}
            , pages {{ publication.paper.pages }}
        {%- else -%}
            , page {{ publication.paper.pages }}
        {%- endif -%}
    {%- endif -%}
    {%- if publication.paper.year_month -%}
        , {{ publication.paper.year_month }}
    {%- endif -%}.<br>
{%- endif -%}
{% if publication.presentation %}
    <i class="fa-solid fa-person-chalkboard"></i>
    {{ publication.presentation.type }},
    {{ publication.presentation.venue }},
    {{ publication.presentation.year_month }}.<br>
{% endif %}
{% if publication.links %}
    {%- for link in publication.links -%}
    <a class="link-btn" href="{{ link.url }}" target="_blank">{{ link.name}}</a>
    {%- endfor -%}
{% endif %}