
<!-- https://www.anlp.jp/guide/guideline.html -->
{%- assign talk = include.talks -%}

{% for speaker in talk.speakers %}
    {{ speaker.name }}
    {%- if forloop.last == false -%}
    ,
    {% endif %}
{%- endfor -%}
.<br>
<strong>{{ talk.title }}</strong>.<br>
{{ talk.event_name }}<br>
{{ talk.month }} {{ talk.year }}.
{% if talk.links %}
    <br>[
    {%- for link in talk.links -%}
    <a href="{{ link.url }}" target="_blank">{{ link.name}}</a>{% if forloop.last == false %}, {% endif %}
    {%- endfor -%}
    ]
{% endif %}