
{% for author in publication.authors %}
    {%- if forloop.last == true -%}
    & 
    {% endif %}
    {{ author.last_name }}, {{ author.first_name | slice: 0}}.
    {%- if forloop.last == false -%}
    ,
    {% endif %}
{% endfor %}
({{ publication.year }}).<br>
<strong>{{ publication.title }}</strong>.<br>
In
<i>{{ publication.proceedings_title }}</i>
{%- if publication.pages -%}
    , {{ publication.pages }}
{%- endif -%}
.
{% if publication.links %}
    <br>
    {%- for link in publication.links -%}
    <a href="{{ link.url }}" target="_blank" class="link-btn">{{ link.name}}</a>
    {%- endfor -%}
{% endif %}