/* Copyright comment */
@import "minimal-mistakes/copyright";

/* Variables */
@import "minimal-mistakes/variables";

/* Mixins and functions */
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";
@import "minimal-mistakes/mixins";

/* Core CSS */
@import "minimal-mistakes/reset";
@import "minimal-mistakes/base";
@import "minimal-mistakes/forms";
@import "minimal-mistakes/tables";
@import "minimal-mistakes/animations";

/* Components */
@import "minimal-mistakes/buttons";
@import "minimal-mistakes/notices";
@import "minimal-mistakes/masthead";
@import "minimal-mistakes/navigation";
@import "minimal-mistakes/footer";
@import "minimal-mistakes/search";
@import "minimal-mistakes/syntax";

/* Utility classes */
@import "minimal-mistakes/utilities";

/* Layout specific */
@import "minimal-mistakes/page";
@import "minimal-mistakes/archive";
@import "minimal-mistakes/sidebar";
@import "minimal-mistakes/print";


// Custom styles for the site
.page__hero{
    &--overlay {
        padding: 2em 0 0.5em 0; // Note .page__title has margin bottom
        .page__title{
            font-size: $type-size-3 !important;
        }
    }
}

h3 {
    margin: 2em 0 0.5em !important;
}

.post-date {
    background-color: aqua;
    display: inline-block;
}

.row {
    display: flex;
}

.archive__item-tag {
    padding: 0.5em;
    display: inline-block;
    display: inline-block;margin-bottom: 0.25em;
    font-size: .6em;
    border-radius: 4px;
    margin-right: 5px;

    &.date{
        background-color: #373737;
        color: #f3f3f3;
    }
    &.tag-News{
        background-color: darkolivegreen;
        color: #f3f3f3;
    }
    &.tag-Talk{
        background-color: maroon;
        color: #f3f3f3;
    }
    &.tag-Blog{
        background-color: rgb(52, 88, 193);
        color: #f3f3f3;
    }
}


.member_cards_wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 15px;
}

.member_card {
    // box-shadow: 1px 1px 1px 1px rgba(106, 131, 152, 0.2);
    // border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3 - 15px * 2 / 3);
    background-color: white;
    @media (max-width: 1148px) {
        width: calc(100% / 2 - 15px * 2 / 2);
    }
    @media (max-width: 644px) {
        width: 100%;
    }

    .member_image {
        width: 50%;
        aspect-ratio: 1/1;
        background-color: white;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        margin-top: 20px;
    }
    .member_name {
        font-size: 1.2em;
        // font-weight: bold;
        margin: 0.5em 0;
    }
    .member_email {
        font-size: 0.8em;
        color: #777;
        margin-bottom: 0.5em;
    }
    .member_positions {
        font-size: 0.8em;
        color: #777;
        margin-bottom: 0.5em;
        word-break: keep-all;
    }
}

iframe {
    max-width: 100%;
}





.visible-links{
    .masthead__menu-item.has-submenu > ul {
        display: none;
    }

    .masthead__menu-item.has-submenu:hover > ul {
        display: block;
        background-color: #fff;
        border: 1px solid #f2f3f3;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
        position: absolute;
        padding: 8px;

        a {
            padding: 8px;
        }
    }
}

.hidden-links {
    min-width: 16em; // International Conferences
    .masthead__menu-item.has-submenu{
        ul {
            display: none;
            
            li {
                background-color: #f4f5f7;
                text-indent: 1em;
            }
        }
    } 

    .masthead__menu-item.has-submenu.submenuExpanded {
        ul {
            display: block;
        }       
    }
}